APP_NAME=ACKNestJsE2e
APP_ENV=test
APP_LANGUAGE=en
APP_TIMEZONE=Asia/Jakarta
APP_ENCRYPTION_SECRET_KEY=1111111111111111111111111111111111111111111111111111111111111111

HOME_URL=http://localhost:3000
HOME_NAME=ACKNestJsE2e
EMAIL_NO_REPLY=noreply@example.test
EMAIL_SUPPORT=support@example.test
EMAIL_ADMIN=admin@example.test

HTTP_HOST=127.0.0.1
HTTP_PORT=3000
HTTP_TRUSTED_PROXY=
LOGGER_ENABLE=true
LOGGER_LEVEL=error
LOGGER_INTO_FILE=false
LOGGER_PRETTIER=false
LOGGER_AUTO=false
CORS_ALLOWED_ORIGIN=*
URL_VERSIONING_ENABLE=true
URL_VERSION=1

DATABASE_URL=postgresql://ack:ack_password@localhost:55432/ACKNestJsE2e?schema=public
DATABASE_DEBUG=false

AUTH_JWT_ISSUER=http://localhost:3000
AUTH_JWT_AUDIENCE=ACKNestJsE2e
AUTH_JWT_ACCESS_TOKEN_JWKS_URI=http://localhost:5311/.well-known/access-jwks.json
AUTH_JWT_ACCESS_TOKEN_KID=e2e-access-key
AUTH_JWT_ACCESS_TOKEN_PRIVATE_KEY=MIGHAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBG0wawIBAQQgR2cTzvKZg+FjgYvVAVCqj8qtJZ6ZcpTDykaJinetiUGhRANCAAQ9EToed9JfoK02Fk0ykdze3iwsUwk2VsxqIhwEE9Mr0Cr7wOSdTal1XVQXYOJ6SLPBQMS34nxZfiL0oLNEvgue
AUTH_JWT_ACCESS_TOKEN_PUBLIC_KEY=MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEPRE6HnfSX6CtNhZNMpHc3t4sLFMJNlbMaiIcBBPTK9Aq+8DknU2pdV1UF2DiekizwUDEt+J8WX4i9KCzRL4Lng==
AUTH_JWT_ACCESS_TOKEN_EXPIRED=1h
AUTH_JWT_REFRESH_TOKEN_JWKS_URI=http://localhost:5311/.well-known/refresh-jwks.json
AUTH_JWT_REFRESH_TOKEN_KID=e2e-refresh-key
AUTH_JWT_REFRESH_TOKEN_PRIVATE_KEY=MIGHAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBG0wawIBAQQg2sJNtbaY4Axz4xUZqIC+7O8e38Jbxf8HqGIw0UcpL6GhRANCAAT1w95Hm7CFQSaz1YWzFLduEpRUUq9oxdshIBG4kAIY9EHVpUnzkYpJjK5V2mm/2L2RmyZ0YOzfSVHIUo76bGb4
AUTH_JWT_REFRESH_TOKEN_PUBLIC_KEY=MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAE9cPeR5uwhUEms9WFsxS3bhKUVFKvaMXbISARuJACGPRB1aVJ85GKSYyuVdppv9i9kZsmdGDs30lRyFKO+mxm+A==
AUTH_JWT_REFRESH_TOKEN_EXPIRED=30d
AUTH_TWO_FACTOR_ISSUER=ack-nestjs-e2e
AUTH_TWO_FACTOR_ENCRYPTION_KEY=2222222222222222222222222222222222222222222222222222222222222222

AWS_S3_IAM_CREDENTIAL_KEY=
AWS_S3_IAM_CREDENTIAL_SECRET=
AWS_S3_IAM_ARN=
AWS_S3_REGION=
AWS_S3_PUBLIC_BUCKET=
AWS_S3_PUBLIC_CDN=
AWS_S3_PRIVATE_BUCKET=
AWS_S3_PRIVATE_CDN=
AWS_SES_IAM_CREDENTIAL_KEY=
AWS_SES_IAM_CREDENTIAL_SECRET=
AWS_SES_IAM_ARN=
AWS_SES_REGION=
CACHE_REDIS_URL=redis://localhost:56379/0
QUEUE_REDIS_URL=redis://localhost:56379/1
SENTRY_DSN=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
