{
    "$schema": "https://swc.rs/schema.json",
    "sourceMaps": true,
    "minify": false,
    "module": {
        "type": "nodenext",
        "resolveFully": true
    },
    "exclude": [
        "node_modules",
        "dist",
        "coverage",
        "logs",
        "keys",
        ".warmup",
        ".nyc_output",
        "src/metadata.ts",
        "swagger.json",
        "^generated/"
    ],
    "jsc": {
        "baseUrl": "./",
        "target": "esnext",
        "parser": {
            "syntax": "typescript",
            "decorators": true,
            "dynamicImport": true
        },
        "transform": {
            "legacyDecorator": true,
            "decoratorMetadata": true
        }
    }
}
