<html><body><p>Hi {username},</p></br><p>We noticed a login to your account.</p><p>Login from: {loginFrom}</p><p>Login with: {loginWith}</p><p>IP Address: {ipAddress}</p><p>Time: {loginAt}</p></br><p>If this wasn't you, contact support: {supportEmail}.</p><p>Visit us: {homeUrl}.</p></br><p>By: {homeName}.</p></body></html>
