<html><body><p>Hi {username},</p></br><p>You have been invited to join the {roleScope}: {contextName}. Use this link to activate your account: {link}.</p><p>The link will expire on {expiredAt} ({expiredInMinutes} minutes).</p><p>Reference: {reference}.</p><p>Support Email: {supportEmail}.</p><p>Visit us: {homeUrl}.</p></br><p>By: {homeName}.</p></body></html>
