<html><body><p>Hi{username},</p></br><p>You reset password link is here {link}</p><p>Expired until {expiredAt} ({expiredInMinutes} in minutes).</p><p>Reference:{reference}.</p<p>Support Email:{supportEmail}.</p><p>Visit us:{homeUrl}.</p></br><p>By:{homeName}</p></body></html>
