<html>
<body style="font-family: Arial, sans-serif; color: #333; background-color: #ffffff;">
<p>Hi {{username}},</p>
<br/>
<p>Your password has been changed successfully.</p>
<table border="1" cellpadding="8" cellspacing="0" style="border-collapse: collapse; width: 100%;">
  <thead>
    <tr style="background-color: #f2f2f2;">
      <th style="text-align: left;">Field</th>
      <th style="text-align: left;">Value</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Support Email</td><td>{{supportEmail}}</td></tr>
    <tr><td>Website</td><td>{{homeUrl}}</td></tr>
  </tbody>
</table>
<br/>
<p>By: {{homeName}}.</p>
</body>
</html>
