name: Linter
on:
    workflow_dispatch:
    pull_request:
        branches:
          - main
          - development

env:
    NODE_VERSION: lts/*

jobs:
    linter:
        runs-on: ubuntu-latest

        steps:
            - name: Git checkout
              uses: actions/checkout@v4

            - name: Setup node
              uses: actions/setup-node@v4
              with:
                node-version: ${{ env.NODE_VERSION }}

            - name: Setup pnpm
              uses: pnpm/action-setup@v4

            - name: Install dependencies
              run: pnpm install --frozen-lockfile

            - name: Linter
              run: pnpm lint
