name: ReleaseWithAwsEcs
on:
    workflow_dispatch:
    # push:
    #     branches:
    #         - main
    #         - staging
    #         - development

env:
    DOCKERFILE: ci/dockerfile

jobs:
    build_image:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                include:
                    - branch: main
                      env: production
                    - branch: development
                      env: development
                    - branch: staging
                      env: staging

        steps:
            - name: Git checkout
              uses: actions/checkout@v6

            - name: Get short sha commit
              id: git
              run: |
                  echo "short_sha=$(git rev-parse --short $GITHUB_SHA)" >> "$GITHUB_OUTPUT"

            - name: Get latest version
              id: version
              uses: martinbeentjes/npm-get-version-action@main

            - name: Log info
              run: |
                  echo Branch name is: ${{ github.ref_name }}
                  echo Short sha: ${{ steps.git.outputs.short_sha }}
                  echo Version is: ${{ steps.version.outputs.current-version }}

            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3
              
            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v5
              with:
                  aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                  aws-region: ${{ secrets.AWS_REGION }}

            - name: Login to Amazon ECR
              id: login-ecr
              uses: aws-actions/amazon-ecr-login@v2

            - name: Build & Push
              if: ${{ github.ref_name == matrix.branch }}
              run: |
                  docker build --build-arg NODE_ENV=${{ matrix.env }} -t ${{ vars.AWS_ECR_REPO_URL }}:${{ matrix.env }} -f ${{ env.DOCKERFILE }} .
                  docker tag ${{ vars.AWS_ECR_REPO_URL }}:${{ matrix.env }} ${{ vars.AWS_ECR_REPO_URL }}:sha-${{ steps.git.outputs.short_sha }}
                  docker push ${{ vars.AWS_ECR_REPO_URL }}:sha-${{ steps.git.outputs.short_sha }}
                  docker push ${{ vars.AWS_ECR_REPO_URL }}:${{ matrix.env }}
                  
                  # Push latest tag only for production
                  if [ "${{ matrix.env }}" = "production" ]; then
                    docker tag ${{ vars.AWS_ECR_REPO_URL }}:${{ matrix.env }} ${{ vars.AWS_ECR_REPO_URL }}:latest
                    docker push ${{ vars.AWS_ECR_REPO_URL }}:latest
                  fi

    deploy:
        needs: [build_image]
        runs-on: ubuntu-latest

        strategy:
            matrix:
                include:
                    - branch: main
                      env: production
                    - branch: development
                      env: development
                    - branch: staging
                      env: staging

        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v5
              with:
                  aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                  aws-region: ${{ secrets.AWS_REGION }}

            - name: Set ECS variables
              if: ${{ github.ref_name == matrix.branch }}
              run: |
                  if [ "${{ matrix.env }}" = "production" ]; then
                    echo "ECS_CLUSTER=${{ secrets.PROD_ECS_CLUSTER_NAME }}" >> $GITHUB_ENV
                    echo "ECS_SERVICE=${{ secrets.PROD_ECS_SERVICE_NAME }}" >> $GITHUB_ENV
                  elif [ "${{ matrix.env }}" = "development" ]; then
                    echo "ECS_CLUSTER=${{ secrets.DEV_ECS_CLUSTER_NAME }}" >> $GITHUB_ENV
                    echo "ECS_SERVICE=${{ secrets.DEV_ECS_SERVICE_NAME }}" >> $GITHUB_ENV
                  elif [ "${{ matrix.env }}" = "staging" ]; then
                    echo "ECS_CLUSTER=${{ secrets.STAGING_ECS_CLUSTER_NAME }}" >> $GITHUB_ENV
                    echo "ECS_SERVICE=${{ secrets.STAGING_ECS_SERVICE_NAME }}" >> $GITHUB_ENV
                  fi

            - name: Update ECS Service
              if: ${{ github.ref_name == matrix.branch }}
              run: |
                  aws ecs update-service \
                      --cluster ${{ env.ECS_CLUSTER }} \
                      --service ${{ env.ECS_SERVICE }} \
                      --force-new-deployment \
                      --region ${{ secrets.AWS_REGION }}

            - name: Wait for ECS Service Stable
              if: ${{ github.ref_name == matrix.branch }}
              run: |
                  aws ecs wait services-stable \
                      --cluster ${{ env.ECS_CLUSTER }} \
                      --services ${{ env.ECS_SERVICE }} \
                      --region ${{ secrets.AWS_REGION }}