name: Test
on:
    workflow_dispatch:
    pull_request:
        branches:
          - main
          - staging
          - development

env:
    NODE_VERSION: lts/*

jobs:
    test:
        runs-on: ubuntu-latest

        steps:
            - name: Git checkout
              uses: actions/checkout@v6

            - name: Setup node
              uses: actions/setup-node@v6
              with:
                node-version: ${{ env.NODE_VERSION }}

            - name: Setup pnpm
              uses: pnpm/action-setup@v4

            - name: Install dependencies
              run: pnpm install --frozen-lockfile

            - name: Unit Test
              run: NODE_ENV=test pnpm test
              env:
                  CI: true
