name: Test
on:
  pull_request:
    branches: 
    - main
    
jobs:
  test:
    runs-on: ubuntu-latest
    environment: baibay

    strategy:
      matrix:
        node-version: ['18.x']
        mongodb-version: ['5.0', '6.0']

    steps:
      - name: Git checkout
        uses: actions/checkout@v3

      - name: Setup node version ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Start MongoDB ${{ matrix.mongodb-version }}
        uses: supercharge/mongodb-github-action@1.8.0
        with:
          mongodb-version: ${{ matrix.mongodb-version }}
          mongodb-replica-set: test-rs
          mongodb-db: ack
          mongodb-port: 27017

      - name: Install dependencies
        run: yarn --frozen-lockfile

      - name: Create env file
        run: |
          touch .env
          echo APP_NAME="ack" >> .env
          echo APP_ENV="development" >> .env
          echo APP_LANGUAGE="en" >> .env
          
          echo HTTP_ENABLE="true" >> .env
          echo HTTP_HOST="localhost" >> .env
          echo HTTP_PORT="3000" >> .env
          echo HTTP_VERSIONING_ENABLE="true" >> .env
          echo HTTP_VERSION="1" >> .env

          echo DEBUGGER_HTTP_WRITE_INTO_FILE="false" >> .env
          echo DEBUGGER_HTTP_WRITE_INTO_CONSOLE="false" >> .env
          echo DEBUGGER_SYSTEM_WRITE_INTO_FILE="false" >> .env
          echo DEBUGGER_SYSTEM_WRITE_INTO_CONSOLE="false" >> .env

          echo MIDDLEWARE_TIMESTAMP_TOLERANCE="5m" >> .env
          echo MIDDLEWARE_TIMEOUT="30s" >> .env

          echo DOC_NAME="ACK APIs Spec" >> .env
          echo DOC_VERSION="1" >> .env

          echo JOB_ENABLE="true" >> .env

          echo DATABASE_TYPE="MONGO" >> .env
          echo DATABASE_HOST="mongodb://localhost:27017" >> .env
          echo DATABASE_NAME="ack" >> .env
          echo DATABASE_USER="" >> .env
          echo DATABASE_PASSWORD="" >> .env
          echo DATABASE_DEBUG="false" >> .env
          echo DATABASE_OPTIONS="replicaSet=test-rs" >> .env

          echo AUTH_JWT_SUBJECT="AckDevelopment" >> .env
          echo AUTH_JWT_AUDIENCE="https://example.com" >> .env
          echo AUTH_JWT_ISSUER="ack" >> .env
          
          echo AUTH_JWT_ACCESS_TOKEN_SECRET_KEY="123456" >> .env
          echo AUTH_JWT_ACCESS_TOKEN_EXPIRED="30m" >> .env

          echo AUTH_JWT_ACCESS_TOKEN_ENCRYPT_KEY="ZGNntKGgOQTFJG9AQWPjh1OOktBFOjZa" >> .env
          echo AUTH_JWT_ACCESS_TOKEN_ENCRYPT_IV="sdZiqBYaA1aDYXYo" >> .env
          
          echo AUTH_JWT_REFRESH_TOKEN_SECRET_KEY="01001231" >> .env
          echo AUTH_JWT_REFRESH_TOKEN_EXPIRED="7d" >> .env
          echo AUTH_JWT_REFRESH_TOKEN_REMEMBER_ME_EXPIRED="30d" >> .env
          echo AUTH_JWT_REFRESH_TOKEN_NOT_BEFORE_EXPIRATION="0" >> .env

          echo AUTH_JWT_REFRESH_TOKEN_ENCRYPT_KEY="iU9qGavXmvPPIZT8RLYzbZIaXGB3VgnK" >> .env
          echo AUTH_JWT_REFRESH_TOKEN_ENCRYPT_IV="50YF50X49AFiZVx4" >> .env

          echo AWS_CREDENTIAL_KEY="$AWS_CREDENTIAL_KEY" >> .env
          echo AWS_CREDENTIAL_SECRET="$AWS_CREDENTIAL_SECRET" >> .env
          echo AWS_S3_BUCKET="$AWS_S3_BUCKET" >> .env
          echo AWS_S3_REGION="$AWS_S3_REGION" >> .env
        env:
          AWS_CREDENTIAL_KEY: ${{ secrets.AWS_CREDENTIAL_KEY }}
          AWS_CREDENTIAL_SECRET: ${{ secrets.AWS_CREDENTIAL_SECRET }}
          AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
          AWS_S3_REGION: ${{ secrets.AWS_S3_REGION }}
          
      - name: Migration
        run: yarn migrate

      - name: Unit Test
        run: yarn test:unit
        env:
          CI: true

      - name: Unit Integration
        run: yarn test:integration

      - name: E2E Test
        run: yarn test:e2e
